In [1]:
from data.data import get_data

In [2]:
get_data(ticker="AAPL", dates=["2012-10-21", "2022-10-20"])

AAPL data aquired

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2012-10-22,22.692142,21.812857,21.872143,22.643929,5.467308e+08,19.384956
2012-10-23,22.639286,21.846430,22.535713,21.905714,7.071456e+08,18.752993
2012-10-24,22.376785,21.808571,22.194286,22.029642,5.585272e+08,18.859089
2012-10-25,22.214287,21.626785,22.142857,21.769285,6.563256e+08,18.636208
2012-10-26,21.928572,21.107143,21.765356,21.571428,1.018433e+09,18.466816
...,...,...,...,...,...,...
2022-10-14,144.520004,138.190002,144.309998,138.380005,8.859800e+07,138.150833
2022-10-17,142.899994,140.270004,141.070007,142.410004,8.525090e+07,142.174164
2022-10-18,146.699997,140.610001,145.490005,143.750000,9.913660e+07,143.511932
2022-10-19,144.949997,141.500000,141.690002,143.860001,6.175830e+07,143.621750
2022-10-20,145.889999,142.649994,143.020004,143.389999,6.452200e+07,143.152527